@font-face {
    font-family: 'chuckchuck';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/chuckchuck/chuckchuck.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/chuckchuck/chuckchuck.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/chuckchuck/chuckchuck.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/chuckchuck/chuckchuck.ttf') format('truetype');
}
